# node_modules/**
# public/bower_components/

# Logs
logs
*.log

# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/

#bower_components
/public/bower_components/
